.btn-primary {
  background: $primaryColor;
  border-color: $primaryColor;
  color: #000;

  &:hover,
  &:focus,
  &:active {
    background: $primaryColorDark;
    border-color: $primaryColorDark;
    color: #000;
  }

  &.focus,
  &:focus {
    box-shadow: 0 0 0 0.2rem $primaryColorDark !important;
  }
}

.btn-outline-primary {
  color: $primaryColor;
  border-color: $primaryColor;

  &:hover,
  &:focus,
  &:active {
    color: #fff;
    background: $primaryColor;
    border-color: $primaryColor;
  }

  &.focus,
  &:focus {
    background: $primaryColor;
    box-shadow: 0 0 0 0.2rem rgba(0, 150, 136, 0.5) !important;
  }
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle,
.btn-primary:disabled {
  background: $primaryColor;
  border-color: $primaryColor;
}

.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show>.btn-outline-primary.dropdown-toggle,
.btn-outline-primary:disabled {
  background: $primaryColor;
  border-color: $primaryColor;
}

.btn-secondary {
  background: $secondaryColor;
  border-color: $secondaryColor;

  &:hover,
  &:focus,
  &:active {
    background: $secondaryColorDark;
    border-color: $secondaryColorDark;
  }

  &.focus,
  &:focus {
    box-shadow: 0 0 0 0.2rem rgb(156, 217, 247) !important;
  }
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
  background: $secondaryColorDark;
  border-color: $secondaryColorDark;
}