/**
 * ** Responsive **
 */

* {
  @include border-radius(0);
}

body {
  font-family: $font;
}

:focus {
  outline: 0;
}

.border-p-dark {
  border: 1px solid $primaryColorDark !important;
}
.border-s-dark {
  border: 1px solid $secondaryColorDark !important;
}
.border-p {
  border: 1px solid $primaryColor !important;
}
.border-s {
  border: 1px solid $secondaryColor !important;
}

.bg-colored {
  background: #fafafa;
}

.bg-colored.dark {
  background: #38414d;
}

.small-line {
  width: 100px;
  border-top: 1px solid $primaryColorLight;
}

.clipboard {
  cursor: pointer;
}

.alert-info {
  color: #000;
  background-color: $alertInfo;
  border-color: $secondaryColor;

  code.clipboard {
    border: 1px solid $primaryColor;
    border-radius: 4px;
    padding: 1px 5px;
    vertical-align: top;

    &:hover {
      background: #fff;
    }
  }

  &.alert-info-white {
    code.clipboard {
      background: $primaryColorLight;
      border-color: $primaryColor;
      color: #fff;

      &:hover {
        background: #fff;
        color: $primaryColorLight;
      }
    }
  }
}

.alert-success {
  color: #000;
  background: $success;
  border-color: $primaryColorLight;
}

.alert-danger {
  color: #000;
  background: #E57373;
  border-color: #E57373;
}

.alert-warning {
  border-color: $primaryColorDark;
}

.alert-info-white {
  background: #fff;
}

.full-width {
  width: 100%;
}

.border-green {
  border: 1px solid $primaryColor;
}

.hover-effect {
  @include transition(all 0.4s ease-in-out);
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.aligncenter {
  height: auto;
}

.alignright {
  float:right;
}

.alignleft {
  float: left;
}

img.size-full {
  max-width: 100%;
  height: auto;
}

.form-control:focus {
  border-color: $primaryColor;
  box-shadow: 0 0 0 0.2rem rgba(0, 150, 136, 0.5);
}

.card-body-with-border-top {
  border-top: 1px solid $primaryColor;
}

[v-cloak] {
  display: none;
}

.post-the_content {
  p:last-child {
    margin-bottom: 0;
  }
}

.tag-collapse {
  i {
    display: inline-block;
    font-family: "Ionicons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: 5px;
  }

  &[aria-expanded="false"] i::before {
    content: "\f284";
  }

  &[aria-expanded="true"] i::before {
    content: "\f280";
  }
}

// ---------------------------------------- Table
.stacktable {
  width: 100%;
  table-layout: fixed;

  ul > li > p {
    display: flex;
    align-items: center;
    gap: 3px;
  }
}
.st-head-row {
  padding-top: 1em;
}
.st-head-row.st-head-row-main {
  font-size: 1.5em;
  padding-top: 0;
}

.st-key {
  width: 29%;
  text-align: right;
  padding-right: 1%;
  font-weight: 500;
  overflow: hidden;
}
.st-val {
  width: 59%;
  padding-left: 1%;
  overflow: hidden;
}

.stacktable.large-only {
  display: table;
}
.stacktable.small-only {
  display: none;
}

.table td {
  overflow: hidden;
}

// ---------------------------------------- End Table

.card {
  border: 1px solid $secondaryColor;
}

.list-group-item {
  border: 1px solid $secondaryColorDark;
}

.breadcrumb {
  border: 1px solid $secondaryColor;
  background: #fafafa;
  margin-bottom: 30px;
  padding: 0.75rem 1rem;
  border-radius: 0.25rem;
}

.col-nav {
  background: aliceblue;
  padding-left: 0;
  padding-right: 0;
  height: 100vh;
  overflow-y: auto;

  .nav-pills .nav-link {
    border-radius: 0;
  }

  .nav-pills-child a {
    padding: 4px 15px;
    font-size: 13px;
  }
}

.content-gap {
  margin-top: 58px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.div-scroll {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 25px 15px 0;
}

.author-tag img {
  width: 32px;
  height: 32px;
}

.related-links {
  margin-top: 75px;
  padding-bottom: 50px;
  .each-related-link {
    margin-bottom: 50px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@keyframes dotFloating {
  0% {
    left: calc(-50% - 5px);
  }
  75% {
    left: calc(50% + 105px);
  }
  100% {
    left: calc(50% + 105px);
  }
}

@keyframes dotFloatingBefore {
  0% {
    left: -50px;
  }
  50% {
    left: -12px;
  }
  75% {
    left: -50px;
  }
  100% {
    left: -50px;
  }
}

@keyframes dotFloatingAfter {
  0% {
    left: -100px;
  }
  50% {
    left: -24px;
  }
  75% {
    left: -100px;
  }
  100% {
    left: -100px;
  }
}

.stage {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  -khtml-display: flex;
  display: flex;

  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  -khtml-justify-content: center;
  justify-content: center;

  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  -khtml-align-items: center;
  align-items: center;

  padding: 1rem 0;
  margin: 0 -5%;
  overflow: hidden;

  .dot-floating {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: $primaryColor;
    color: $primaryColor;
    animation: dotFloating 3s infinite cubic-bezier(0.15, 0.6, 0.9, 0.1);

    &:before,
    &:after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 0;
    }

    &::before {
      left: -12px;
      width: 10px;
      height: 10px;
      border-radius: 5px;
      background-color: $primaryColor;
      color: #9880ff;
      animation: dotFloatingBefore 3s infinite ease-in-out;
    }

    &:after {
      left: -24px;
      width: 10px;
      height: 10px;
      border-radius: 5px;
      background-color: $primaryColor;
      color: $primaryColor;
      animation: dotFloatingAfter 3s infinite cubic-bezier(0.4, 0, 1, 1);
    }
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

#search {
  position: relative;

  .search-results {
    display: none;
    position: absolute;
    overflow: hidden;
    top: 42px;
    left: 0;
    z-index: 11;
    padding: 5px 0 0;
    width: 100%;
    background: #FFF;
    border-radius: 6px;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.4);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.4);

    &.show {
      display: block;
    }
  }

  .w-section-result h2 {
    color: #888888;
    font-size: 0.8rem;
    margin-left: 15px;
    margin-top: 10px;
  }

  .single-result {
    padding: 5px 15px 5px 25px;

    &.select {
      background: #eee;
    }
  }

  h3 {
    margin-bottom: 0;
    font-size: 1rem;
    display: inline-block;
  }

  i {
    margin-right: 5px;
  }

  .btn-hide-results {
    width: 100%;
    margin-top: 10px;
  }
}

.img-huong-dan {
  width: 350px;
  height: auto;
}

.img-huong-dan-big {
  width: 600px;
  height: auto;
}

.img-lightbox {
  display: inline-block;
  margin-bottom: 20px;
}

.img-has-border {
  border: 1px solid #e1e1e1;
}

.card-class {
  .img-card {
    height: 100px;
  }

  img {
    display: inline-block;
    margin-top: 10px;
    width: 100px;
    height: auto;
  }
}

.section {
  margin-bottom: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid #e1e1e1;

  h2 {
    color: $primaryColor;
  }

  h3 {
    color: $secondaryColor;
  }
}

.footer-page {
  border-top: 1px solid $secondaryColor;
  background: #fafafa;
  padding: 45px 0;
  font-size: 14px;
}

.quest-post {
  border: 1px solid $secondaryColorDark;

  > a {
    display: inline-block;
    flex: 0 0 145px;
    height: 120px;
    overflow: hidden;
  }

  .btn {
    color: #fff;
    padding: 3px 0.6em;
    font-size: 18px;
    line-height: 1;
  }

  .media-body {
    height: 120px;
    overflow: hidden;
    border-left: 1px solid #0077af;
    width: 100%;
  }

  .media-body > a {
    font-size: 1rem;
    line-height: 1.2;
    margin-bottom: 5px;
    white-space: nowrap;
  }

  p {
    margin-bottom: 0;
    font-size: 0.85rem;
    height: 54px;
    line-height: 18px;
    overflow: hidden;
  }

  img {
    width: 100%;
    height: auto;
    border: 0;
  }
}

#app {
  h1 {
    color: $primaryColor;
  }

  .list-group-item {
    padding: .75rem 15px;
    overflow: hidden;
  }

  .list-group-item {
    p:last-child {
      margin-bottom: 0;
    }
  }

  .alert p:last-child {
    margin-bottom: 0;
  }
}

.row-info-quest {
  .post-the_content {
    background: #fff;
    border: 1px solid $secondaryColor;
  }
  .each-item p {
    display: inline;
  }
}

.row-info-loop {
  h2 {
    color: $primaryColor
  }
}

.icon-headgear {
  padding: 5px;
  margin-right: 15px;
  border: 1px solid $primaryColorLight;
}

.block-item {
  border-top: 1px solid $primaryColorLight;
}

.separate {
  margin: 30px 0;
}

.item-name {
  display: inline-block;
  line-height: 1;

  img {
    border: 1px solid $secondaryColor;
    border-radius: .25rem;
    padding: 1px;
  }

  span {
    vertical-align: middle;
    color: $secondaryColor;
  }

  &.no-click {
    span {
      color: #000;
    }
    img {
      border: 0;
    }
  }

  &:hover {
    color: $secondaryColorDark;

    span {
      color: $secondaryColorDark;
    }
  }
}

.where-npc {
  color: $secondaryColor;
  &:hover,
  &:focus,
  &:active {
    color: $secondaryColorDark;
  }
}

.col-quest-info {
  border: 1px solid $primaryColorDark;
  border-radius: .25rem;
  background: $alertWarning;

  h3 {
    padding: 15px;
    font-size: 18px;
    text-align: center;
    margin-bottom: 0;
  }

  .w-table-require .table-bordered {
    border-bottom: 1px solid $primaryColorDark;
  }

  .table-require-col-title {
    width: 88px;
  }

  .table {
    margin-bottom: 0;
  }

  .list-group li {
    border-radius: 0;
    border-left: 0;
    border-right: 0;
  }

  .table-bordered {
    border: 0;
  }

  .table-bordered td,
  .table-bordered th {
    padding: .75rem 15px;
    border: 1px solid $primaryColorDark;
    border-bottom: 0;
    font-size: 0.9em;
    vertical-align: middle;
  }

  .table-bordered td:first-child,
  .table-bordered th:first-child {
    border-left: 0;
  }

  .table-bordered td:last-child,
  .table-bordered th:last-child {
    border-right: 0;
  }

  .list-group-item {
    padding: .75rem 15px;
  }

  td p {
    margin-bottom: 0;
  }

  .btn-show-phan-thuong {
    border-radius: 0;
    width: 100%;
  }

  .other-notes {
    border-top: 1px solid $primaryColorLight;

    .img-thumbnail {
      border-radius: 0;
    }
  }
}

.npc-list {
  height: 100%;
  width: 350px;
  z-index: 9999;
  background: #fafafa;
  border-left: 1px solid $primaryColorDark;
  border-top: 1px solid $primaryColorDark;
  overflow-y: auto;
  overflow-x: hidden;

  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(350px);
  @include transition(all 0.3s ease-in-out);


  &.show {
    transform: translateX(0);
  }

  h3.title-npc-list {
    font-size: 18px;
    margin-bottom: 0;
  }

  .content-npc-list {
    padding-bottom: 30px;
  }

  .form-control {
    border-radius: 0;
  }

  .row-title-npc-list {
    border-top: 1px solid $primaryColorLight;

    .btn {
      border-radius: 0;
      line-height: 1;
    }

    input {
      border: 0;
      border-bottom: 1px solid $secondaryColorDark;
    }
  }
}

.npc {
  background: #fff;
  text-align: center;
  border-bottom: 1px solid $secondaryColorDark;
  padding: 15px 0;
  border-left: 2px solid #f8f9fa;

  code {
    border-radius: 5px;
    padding: 2px 5px;
    background: #fff;
    border: 1px solid #e1e1e1;
  }

  code a {
    color: inherit;
  }

  .card-text {
    margin-bottom: 5px;
  }

  .card-title {
    margin-bottom: 5px;
  }

  &.mark {
    background: $secondaryColorSLight;
    border-left: 2px solid $secondaryColor;

    .highlight-location code {
      border: 1px solid $secondaryColorDark;
    }
  }
}

.tabs-sidebar {
  text-align: center;

  .col {
    background: #ccc;
    padding: 5px 0;
    cursor: pointer;
  }

  .col-active {
    background: $secondaryColorDark;
    color: #fff;
  }
}

.list-group-quest-item {
  [class*="col-"] {
    padding-left: 15px;
    padding-right: 15px;
  }

  .col-quantity {
    -webkit-flex-basis: 80px;
    -moz-flex-basis: 80px;
    -ms-flex-basis: 80px;
    -o-flex-basis: 80px;
    -khtml-flex-basis: 80px;
    flex-basis: 80px;
    width: 80px;
    text-align: right;
  }

  .col-icon {
    padding: 0;
    img {
      border: 1px solid $primaryColor;
    }
  }
}

.ro-item-container {
  font-family: sans-serif;
  font-size: 12px;
  color: #000;
  width: 278px;
  min-height: 113px;
  background-image: url(../images/item-box.png);
  background-repeat: repeat-y;
  background-position: -556px 0px;
  position: relative;

  &>.inner {
    position: relative;
    left: 0;
    width: 100%;
    min-height: 113px;
    background: url(../images/item-head-box.png) no-repeat;
  }

  &:after {
    content: "";
    position: absolute;
    //bottom: -6px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background: url(../images/item-box.png) no-repeat -278px 0px;
  }

  &> .inner .ro-item-left {
    float: left;
    width: 90px;
  }

  &> .inner .ro-item-left > img {
    margin-left: 9px;
    margin-top: 10px;
  }

  &> .inner .ro-item-right {
    float: left;

    p {
      max-height: 320px;
      overflow: auto;
    }
  }

  &> .inner .ro-item-right > em {
    font-size: 12px;
    font-family: sans-serif;
    padding-top: 9px;
    display: block;
    font-weight: normal;
    font-style: normal;
    text-shadow: 1px 1px 0 #fff;
    margin-left: 3px;
  }

  p {
    font-size: 12px;
    font-family: sans-serif;
    display: block;
    width: 175px;
    margin: 10px 0 10px 3px;
  }
}

.card-category {
  > a {
    position: relative;
    overflow: hidden;
  }

  .particles {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left :0;
  }

  h3 {
    background: rgba(55, 55, 55, 0.7);
    position: absolute;
    bottom: 10px;
    margin: 0;
    width: 100%;
    color: $secondaryColorLight;
    font-weight: 400;
    padding: 7px 15px;
    border-top: 1px solid $secondaryColorDark;
    border-bottom: 1px solid $secondaryColorDark;
    text-shadow: 2px 2px 2px #121212;
    font-size: 1.5em;

    -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
  }
}

.row-lapine {
  margin: 15px 0;

  .lapine-info-list > li {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e1e1e1;

    &:last-child {
      border-bottom: 0;
    }
  }

  .table {
    th {
      border-top-color: #fff;
    }
  }

  .table-sm td, .table-sm th {
    padding: .1rem .3rem;
  }
}

[class*="col"] .row-lapine {
  margin: 15px 0;
  padding: 15px;
  background: #fafafa;
  border: 1px solid #e1e1e1;
}

.lapine-title h4 {
  margin-left: -15px;
  margin-right: -15px;
  margin-top: -15px;
  padding: 15px;
  background: $primaryColorLight;
}

.w-lapine-target-items {
  max-height: 346px;
  overflow: hidden;

  ul {
    padding-left: 20px;
  }

  li {
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.btn-expand-description {
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 99;
  border-radius: .25rem;
  font-size: 0.8rem;
  padding: 3px 0;
  font-weight: bold;
  text-align: center;
  border: 1px solid $primaryColor;
  background: #fff;
  color: #000;

  &:hover {
    color: #fff;
    background: $primaryColorDark;
  }
}

.t-fade {
  background: linear-gradient(to bottom, rgba(255, 255, 255 ,0) 0%,rgb(236, 247, 246) 75%);
  height: 100%;
  position: absolute;
  bottom: 0;
  width: 100%;

  &.white {
    background: linear-gradient(to bottom, rgba(255, 255, 255 ,0) 0%,rgb(255, 255, 255) 95%);
  }
}

.hide-when-not-expand {
  display: none;
}

.read-more-expanded {
  .read-more-expand,
  .t-fade,
  .will-hide-when-expand {
    display: none;
  }

  li.hide-when-not-expand {
    display: list-item;
  }

  .w-lapine-target-items {
    max-height: 100%;
    overflow: auto;
  }
}

.read-more-expand {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15px;
  opacity: 0.7;
  &:hover {
    opacity: 1;
  }
}

.an-item {
  background-color: #fff;
  padding: 10px 15px;
  border-bottom: 2px solid $primaryColorDark;

  .alert-info-white {
    background: transparent;
  }

  &.highlight,
  &:hover {
    background: #fff;

    .alert-info-white {
      background: #fff;
    }

    .t-fade {
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%);
    }
  }

  .click-item {
    display: block;
    color: $secondaryColorDark;

    &:hover {
      color: $secondaryColor;
    }
  }

  a {
    display: block;
  }

  .alert-info-white a {
    display: inline-block;
  }

  img {
    border: 1px solid $secondaryColorDark;
    border-radius: 0.25rem;
  }

  .item-image-75 {
    width: 77px;
    margin-right: 15px;
  }

  .click-item {
    padding: 1px;
    margin-right: 5px;
  }

  .item-description {
    height: 134px;
    width: 100%;
    overflow: hidden;
    position: relative;

    &.expanded {
      height: auto;
    }

    p {
      font-family: sans-serif;
      margin-bottom: 0;
      font-size: 13px;
    }
  }

  .btn-get-monster-drops,
  .btn-how-to-get {
    width: 77px;
    font-size: 0.7em;
    margin-top: 5px;
  }

  .btn-how-to-get {
    border: $secondaryColorDark;
    background: $secondaryColor;

    &:focus {
      background: $secondaryColor;
      box-shadow: 0 0 0 0.2rem $secondaryColorDark !important;
    }
  }

  table, .alert {
    font-size: 14px;
  }

  .alert {
    padding: 5px 10px;
  }
}

.show-mobs-drop {
width: 72px;
}

.modal-item-padding {
padding: 10px;
}

.modal-monster-info {
  .table th {
    font-size: 12px;
    padding: 2px 10px;
  }
  .table td {
    font-size: 13px;
    padding: 2px 10px;
  }

  .alert {
    font-size: 13px;
  }

  .modal-header {
    padding: 5px 15px;
  }

  .modal-header .close {
    font-size: 30px;
  }

  .list-group li:first-child {
    border-top: 0;
  }

  .list-group li:last-child {
    border-bottom: 0;
  }

  .list-group li {
    border-right: 0;
    border-radius: 0;
    border-color: #e9ecef;
    border-left-color: $secondaryColorDark;
  }

  .list-group-item .col {
    border-right: 1px solid #e9ecef;

    &:last-child {
      border-right: 0;
    }
  }

  .label {
    font-size: small;
  }

  .table-monster-drops-band {
    padding: 5px 10px;
    font-size: 0.9em;
    background: $secondaryColorLight;
    text-align: center;
    color: #fff;
    font-weight: bold;
    border-top: 1px solid $secondaryColorDark;
    border-bottom: 1px solid $secondaryColorDark;
  }
}

.row-stats {
  text-align: center;

  .col-stat {
    position: relative;
  }

  .col-stat span:first-child,
  .col-stat span:last-child {
    display: block;
    background: $primaryColor;
  }

  .col-stat span:last-child {
    font-size: small;
    background: $primaryColorLight;
  }
}

.mob-img {
  width: 100%;
  padding: 10px;
  text-align: center;

  img {
    max-width: 105px;
    height: auto;
  }
}

.will-show-item-info {
  cursor: pointer;

  &:hover {
    color: $secondaryColor;
  }
}

.will-show-mob-info {
  .bg-danger {
    color: #fff !important;
  }
}

#collapseMonsters {
max-height: 300px;
overflow: auto;
}

.w-quest-free-style {
  .item-name img {
    border: 1px solid $primaryColor;
    margin-right: 5px;
  }

  .list-item-free-style li {
    margin-bottom: 5px;
  }
}

/*-- Loading Bar --*/
/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #29d;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/*----*/

.page-item.active .page-link {
  background: $primaryColor;
  border-color: $primaryColor;
}

.page-link {
  color: $primaryColor;
  border: 1px solid $primaryColor;
}

.page-link:focus, .page-link:hover {
  color: #fff;
  background: $primaryColorDark;
  border-color: $primaryColorDark;
}

.scroll-top-wrapper {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  text-align: center;
  z-index: 1049;
  background-color: $primaryColor;
  border: 1px solid $primaryColorDark;
  color: $primaryColorDark;
  width: 40px;
  height: 40px;
  line-height: 40px;
  right: 30px;
  bottom: 30px;
  border-radius: .25rem;

  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
  background-color: $primaryColor;
  color: #000;
}

.scroll-top-wrapper.show {
  visibility:visible;
  cursor:pointer;
  opacity: 1.0;
}
.scroll-top-wrapper i {
  line-height: inherit;
}

.block-jobs {
  background: #fafafa;
}

.block-job {
  position: relative;
  display: block;
  border: 1px solid $secondaryColor;
  background: #fafafa;

  &:hover {
    background: $secondaryColorSLight;
  }

  &.has-caret:after {
    left: 100%;
    top: 50%;
    border: 10px solid transparent;
    border-left-color: $secondaryColor;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    margin-top: -10px;
  }

  img {
    padding: 10px 0;
  }

  .label {
    padding: 2px 0;
    background: $secondaryColor;
    color: #fff;
  }

  .job-name {
    color: #000;
    border-top: 1px dashed $secondaryColorLight;
    border-bottom: 1px dashed $secondaryColorLight;

    &:hover {
      opacity: 0.8;
    }
  }
}

.table-re-color {
  background: #fff;

  &.table-bordered,
  &.table-bordered td,
  &.table-bordered th {
    border: 1px solid $primaryColor;
  }
  thead th {
    border-bottom: 2px solid $primaryColor;
  }
}

// ---- Skill Tree
#content-skill-tree {
  min-height: 50vh;
}

.skill-section .btn-reset {
  height: 22px;
  padding: 0 10px;
}

.box-shadow {
  -webkit-box-shadow: 5px 5px 10px -7px $secondaryColorLight;
  -moz-box-shadow: 5px 5px 10px -7px $secondaryColorLight;
  box-shadow: 5px 5px 10px -7px $secondaryColorLight;
}

.wrap-skill-tree {
  padding-top: 15px;
  padding-bottom: 5px;
  border: 1px solid $secondaryColorDark;
}

.col-slot-skill {
  width: 14.2857143%;
  -webkit-flex-basis: 14.2857143%;
  -moz-flex-basis: 14.2857143%;
  -ms-flex-basis: 14.2857143%;
  -o-flex-basis: 14.2857143%;
  -khtml-flex-basis: 14.2857143%;
  flex-basis: 14.2857143%;
  text-align: center;
  flex-grow: 0;
  margin-bottom: 5px;

  &:hover {
    .slot a.control {
      display: inline-block;
    }
  }

  .skill-name {
    height: 19px;
    font-size: 0.7em;
    white-space: nowrap;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0 2px;
    color: inherit;

    &:hover {
      color: $primaryColor;
      text-decoration: underline;
    }
  }

  .skill-max {
    height: 21px;
    font-size: 0.8em;
    font-weight: 500;
    user-select: none;
  }

  .will-hover {
    border-radius: 4px;
    display: inline-block;
    width: 30px;
    height: 30px;

    &.has-skill {
      border: 1px solid transparent;
    }

    &.has-skill .slot {
      border-color: transparent;
    }

    &.has-skill:hover,
    &.has-skill.required {
      background-color: $primaryColorLight;
      border: 1px solid $primaryColor;
      .slot {
        cursor: pointer;
      }
    }
  }

  .slot {
    position: relative;
    display: inline-block;
    width: 26px;
    height: 26px;
    border: 1px dotted #ccc;
    border-radius: 4px;

    .required-level {
      position: absolute;
      right: -22px;
      top: 5px;
      height: 16px;
      width: 18px;
      padding: 2px 0;
      color: #000;
      line-height: 1;
      font-size: 0.7em;
      background: $primaryColorLight;
      border: 1px solid $primaryColor;
      border-radius: 4px;
      text-align: center;
    }

    a.control {
      position: absolute;
      line-height: 1;
      bottom: -22px;
      background: $primaryColorLight;
      border: 1px solid $primaryColorLight;
      height: 16px;
      width: 16px;
      display: none;

      i {
        font-size: 15px;
      }

      &:hover {
        background: $primaryColorLight;
        border: 1px solid $primaryColorLight;
      }
    }

    .control-up-lv {
      right: -25px;
    }

    .control-down-lv {
      left: -25px;
    }
  }

  &.has-skill {
    border: 0;
  }

  .skill-icon {
    display: block;
    width: 24px;
    height: 24px;
  }
}

.w-skill-info {
  background-color: #ecf7f6;
  padding: 10px 15px;
  border-bottom: 2px solid $primaryColorDark;

  &.highlight,
  &:hover {
    background: #fff;
  }

  .skill {
    -webkit-flex-basis: 220px;
    -moz-flex-basis: 220px;
    -ms-flex-basis: 220px;
    -o-flex-basis: 220px;
    -khtml-flex-basis: 220px;
    flex-basis: 220px;
  }
}

.head-skill-info {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  -khtml-display: flex;
  display: flex;

  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  -khtml-align-items: center;
  align-items: center;

  img, span {
    vertical-align: middle;
  }
}

.body-skill-info {
  padding-top: 10px;
  padding-bottom: 15px;

  .meta-quest-skill i {
    font-size: 1.5rem;
    line-height: 1;
  }

  .meta-skill-info,
  .description-skill-info {
    border-bottom: 1px dashed #4db6ac;
    padding-bottom: 15px;

    p:last-child {
      margin-bottom: 0;
    }
  }

  .alert {
    margin-bottom: 0;
  }
}

.each-job-skill {
  background: $primaryColorLight;
  margin-bottom: 1px;
  padding: 0.6rem;

  &:last-child {
    margin-bottom: 0;
  }

  .each-skill {
    margin-bottom: 5px;
    i {
      font-size: 15px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  .skill-require-level {
    -webkit-flex-basis: 42px;
    -moz-flex-basis: 42px;
    -ms-flex-basis: 42px;
    -o-flex-basis: 42px;
    -khtml-flex-basis: 42px;
    flex-basis: 42px;
  }
}

.skill {
  display: inline-block;

  img {
    margin-right: 1px;
    width: 24px;
    height: 24px;
  }

  color: $primaryColorDark;

  &:hover,
  &:active,
  &:focus {
    color: $primaryColor;
  }
}

.content-huong-dan-nhiem-vu {
  padding-bottom: 200px;
}

.w-quest-free-style {
  border-radius: .25rem;
  background: #fff;
  padding: 15px;
  border: 1px solid $primaryColorLight;
}

.each-quest {
  width: 100%;
  margin-bottom: 30px;
  border: 1px solid $secondaryColor;
  background: #fafafa;
  border-radius: 4px;
  overflow: hidden;

  h3 {
    font-size: 15px;
    height: 23px;
    overflow: hidden;
  }

  .w-main-img {
    height: 110px;
    overflow: hidden;
    border-right: 1px solid $secondaryColor;
    background: $primaryColor;
  }

  img {
    height: auto;
    width: 100%;
  }

  .w-body-q {
    padding: 10px;
  }
}

.rewards {
  img {
    width: 25px;
    height: 25px;
    border: 1px solid $primaryColor;
    border-radius: .25rem;
    padding: 1px;
    margin: 0 2px;
    cursor: pointer;
  }
}

.list-group-quest-item {
  .item-name {
    margin-bottom: 0;
  }
}

.table_with_two_columns,
.table_with_three_columns {
  td {
    vertical-align: middle;
  }
}

/** Discord **/
.join-discord {
  width: 50px;
  height: 50px;

  background: none !important;
  border: 0;

  padding: 0;
  position: fixed;
  right: 26px;
  bottom: 75px;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;

  &:hover {
    ion-icon {
      color: #4e66b4;
      font-size: 50px;
    }
  }

  ion-icon {
    color: #6C84D2;
    font-size: 50px;
  }
}

/** Responsive **/
@media (max-width: 1199.98px) {
  .each-quest .card-text {
    height: 96px;
    overflow: hidden;
  }

  .each-quest {
    h3 {
      font-size: 18px;
    }

    .text-calendar {
      font-size: 14px;
    }
  }
}

@media (max-width: 991.98px) {
  .block-jobs div[class*="col-lg"]:first-child .has-caret:after {
    display: none;
  }
}

@media (max-width: 767.98px) {
  td .item-name,
  th .item-name {
    white-space: nowrap;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #b55837
  }

  .will-show-mob-info {
    td .item-name,
    th .item-name {
      white-space: inherit;
      max-width: 100%;
    }
  }

  #myScrollspy {
    display: none;
  }

  .header-page .navbar {
    padding-left: 15px;
  }

  .div-scroll {
    padding: 25px 0 0;
  }

  .content-gap {
    margin-top: 60px;
    position: initial;
  }

  .quest-title {
    font-size: 2.3rem;
  }

  .each-quest h3 {
    height: auto;
  }

  .separate {
    text-align: center;
  }

  .modal-monster-info .modal-header {
    padding: 15px 15px;
  }

  #nhiem-vu .col-auto {
    width: 100%
  }

  .col-slot-skill .skill-name {
    font-size: 0.6em;
  }

  .block-job {
    .label {
      font-size: 12px;
    }
    .job-name {
      font-size: 12px;
    }
  }

  .scroll-top-wrapper {
    right: 15px;
    bottom: 15px;
  }

  .join-discord {
    right: 11px;
    bottom: 60px;
  }
}

@media (max-width: 575.98px) {
  #app {
    h1 {
      font-size: 2em;
    }

    h3 {
      font-size: 1.4em;
    }

    .search-results h3 {
      font-size: 1.1em;
    }
  }

  .each-quest .card {
    margin-bottom: 30px;
  }

  .quest-title {
    font-size: 2rem;
  }

  .list-group-quest-item .row {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    -khtml-flex-direction: column;
    flex-direction: column;
  }

  .list-group-quest-item .col-quantity {
    -webkit-flex-basis: auto;
    -moz-flex-basis: auto;
    -ms-flex-basis: auto;
    -o-flex-basis: auto;
    -khtml-flex-basis: auto;
    flex-basis: auto;
    width: auto;
    text-align: center;
    margin-bottom: 5px;
  }

  .list-group-quest-item .col-icon {
    margin-bottom: 5px;
  }

  .npc-list {
    width: 310px;
  }

  .npc-list h3.title-npc-list {
    font-size: 16px;
    line-height: 1.6;
  }

  .row-mob-info code {
    display: inline-block;
  }

  .row-job-options {
    margin-left: 0;
    margin-right: 0;

    .block-job .label {
      font-size: 12px;
    }

    .block-job .job-name {
      font-size: 10px;
    }

    &>[class*=col-] {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .block-job .has-caret:after {
    display: none;
  }

  .col-slot-skill {
    width: 25%;
    flex-basis: 25%;
  }

  .table_with_two_columns,
  .table_with_three_columns {
    td ul {
      padding-left: 20px;
    }
  }
}