.navbar {
  border: 1px solid #e1e1e1;
  -webkit-box-shadow: 0 1px 3px 1px rgba(161,161,161,1);
  -moz-box-shadow: 0 1px 3px 1px rgba(161,161,161,1);
  box-shadow: 0 1px 3px 1px rgba(161,161,161,1);
}

.navbar-brand {
  img {
    width: 128px;
  }
}

.nav-pills-child {
  .nav-link {
    color: #000;

    &:hover {
      color: $secondaryColor;
    }

    &.active:hover {
      color: #fff;
    }
  }
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background: $secondaryColorDark;
}

.navbar.narbar-fluid {
  padding-left: 0;
  background: #fff;
}

.nav-pills.nav-pills-custom {
  position: initial;

  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -khtml-flex-direction: column;
  flex-direction: column;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: $secondaryColorDark;
}

@media (max-width: 767px) {
  .navbar-light .navbar-toggler {
    //display: inline-block;
  }

  #menu-menu-1 {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    -khtml-display: flex;
    display: flex;
  }
}