a,
a:focus,
a:hover,
a:active,
button,
button:hover {
  outline: 0 !important;
  text-decoration: none;
}

.black {
  color: #000;
}

.white {
  color: #fff;
}

.color-primary {
  color: $primaryColor;
}

.color-secondary {
  color: $secondaryColor;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
  color: $secondaryColorDark;
}

h1 {
  color: $primaryColorDark;
}

.card-title {
  color: $secondaryColorDark;
}

.display-5 {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-6 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-7 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;
}