$font: 'Roboto', sans-serif;

$primaryColor: #f4bc0d;
$primaryColorLight: #ffee51;
$primaryColorDark: #bc8c00;

$secondaryColor: #2ba6e1;
$secondaryColorLight: #6fd7ff;
$secondaryColorDark: #0077af;
$secondaryColorSLight: #ddf6ff;

$success: #A7FFEB;
$danger: #E57373;

$alertInfo: #def6ff;
$alertWarning: #fff3cd;
