@import "varibles";
@import "mixin";

h1 {
  color: $primaryColorDark;
}

hr {
  border-color: $primaryColorLight;
}

.section-home {
  h2, h2 a {
    color: $primaryColorDark;
  }
}

.section-home-1,
.section-home-3,
.section-home-5 {
  background: $primaryColorLight;
}

.section-newbie {
  > p {
    display: none;
  }
}

.list-tutorials {
  margin-top: 30px;

  [class*=col] {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .col-tutorial {
    h3 {
      font-size: 18px;
      text-align: center;
      font-weight: 400;
    }

    a {
      color: $primaryColor;
    }

    &:hover {
      a {
        color: $primaryColorLight;
      }
    }
  }

  .thumb {
    margin-bottom: 15px;
  }
}

.home-slider {
  background-color: #fff;
  border: 1px solid $primaryColor;
  margin-top: 16px;
  margin-bottom: 35px;
  border-radius: .25rem;
  overflow: hidden;
  p {
    margin: 0;
  }
}

.carousel-features,
.carousel-eq-item {
  .owl-item img {
    //border: 1px solid $primaryColorLight;
    border-radius: 6px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.45);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.45);
  }

  .owl-stage-outer {
    margin-bottom: 1rem;
  }

  .owl-nav {
    text-align: center;
  }

  .owl-nav button {
    width: 30px;
    height: 30px;
    border: 1px solid $primaryColorLight !important;
    margin: 0 5px;
  }

  .owl-nav span {
    font-size: 22px;
    line-height: 1;
  }
}

#huong-dan-co-ban,
#he-thong-tinh-nang {
  a.list-group-item-action {
    color: $primaryColorDark;
  }

  a.list-group-item-action.text-muted {
    color: #c1c1c1 !important;
  }
}

#huong-dan-co-ban {
  .card-body {
    padding-bottom: 10px;
  }
}

#nhiem-vu {
  .card-title {
    color: $primaryColor;
  }

  .card-header {
    padding: 0;
  }

  .col-auto {
    border-right: 1px solid #dee2e6;
  }

  .nav-pills .nav-link {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
}

.quest-post-muted {
  background: #eaeaea;
}

.dummy-img {
  width: 145px;
  height: 120px;
  background: #ccc;
}

@media (min-width: 768px) {
  .quests-should-do {
    .quest-post {
      border-bottom: 0;
    }
  }
}

@media (max-width: 767.98px) {
  .w-front-page > .content-md {
    padding-top: 50px;
  }
}

@media (max-width: 575.98px) {
  h1 {
    font-size: 20px;
  }

  h2.card-title {
    font-size: 1.5em;
  }

  .section-home-4 .item a,
  .section-home-5 .item a{
    width: 100%;
  }

  .quest-post .media-body a {
    font-size: 0.9rem;
  }

  #bai-viet-moi-nhat {
    h2.card-title {
      padding-left: 1.25rem;
      padding-right: 1.25rem;
      margin-bottom: 20px;
    }
    .card-body {
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
    }
    .quest-post {
      border: 0;
      border-radius: 0 !important;
      border-bottom: 1px solid $secondaryColorDark;
      margin-bottom: 0 !important;
    }
    [class*="col-"]:first-child .quest-post {
      border-top: 1px solid $secondaryColorDark;
    }
    [class*="col-"]:last-child .quest-post {
      border-bottom: 0 !important;
    }
  }

  #huong-dan-co-ban {
    .list-group-item {
      padding-left: 0;
      padding-right: 0;
    }
  }

  #nhiem-vu {
    .tab-pane {
      padding: 0;
    }

    .card-body {
      [class*="col-"]:last-child .quest-post {
        border-bottom: 0;
      }
    }

    .card-header {
      border-bottom: 1px solid $secondaryColorDark !important;
    }

    .quest-post {
      border-radius: 0 !important;
      border: 0;
      border-bottom: 1px solid $secondaryColorDark;
      margin-bottom: 0 !important;
    }
  }
}