@import "varibles";
@import "mixin";

.inner-col-live-npc {
  background: #fafafa;
  text-align: center;

  .single-npc-name {
    font-size: 1.2rem;
  }
}

.single-npc-sprite {
  display: inline-block;
  border: 1px solid #e1e1e1;
  padding: 15px;
}

.shop-title-items {
  padding: 10px 15px;
  border-top: 1px solid #26a69a;
  margin-left: -15px;
  margin-right: -15px;
  background: #f8f9fa;
}