@import "varibles";
@import "mixin";

.build {
  display: block;
  margin-bottom: 30px;

  a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px;

    &:hover {
      background: $primaryColor;
      color: #fff;
    }
  }

  .card-body {
    padding: 0;
  }
}

.build-section {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid $secondaryColorDark;

  h2 {
    display: inline-block;
  }

  >.tag-collapse {
    i {
      font-size: 30px;
    }
  }

  &:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border: 0;
  }
}

.build-list {
  padding-left: 0;

  h3 {
    display: inline-block;
    font-size: 1.1rem;
    color: $secondaryColor;
    margin-bottom: 0;
  }

  h5 {
    color: $secondaryColor;
  }

  i {
    color: $secondaryColor;
  }

  //.list-group-block:not(#equip-builds) {
  //  background: #f5f5f5;
  //  transition: all .2s;
  //  padding: 21px 15px;
  //
  //  &:hover {
  //    z-index: 5;
  //    background: #fff;
  //    -webkit-transform: scale(1.01);
  //    transform: scale(1.01);
  //    -webkit-box-shadow: 0 25px 55px rgba(0,0,0,.2), 0 16px 28px rgba(0,0,0,.24);
  //    box-shadow: 0 25px 55px rgba(0,0,0,.2), 0 16px 28px rgba(0,0,0,.24);
  //  }
  //}
}

.stats {
  .table-bordered td, .table-bordered th {
    border-color: $primaryColor;
  }

  p {
    margin-bottom: 0;
  }
}

#app {
  .equip-builds {
    background: #fff9ea;
  }
  .equip-builds-with-example {
    background: $secondaryColorSLight;
  }
}

.eq-build {
  padding-bottom: 30px;

  &:last-child {
    padding-bottom: 0;
  }
}

.list-eq-build {
  margin-left: -15px;
  margin-right: -15px;
}

.eq-head {
  color: #b55837;
  background: #fff9ea;
  padding: 5px 10px;
  //border-top: 1px solid $primaryColor;
  border-bottom: 0;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-left: center;
  font-weight: bold;

  //border-top-left-radius: .25rem;
  //border-top-right-radius: .25rem;
}

.eq-body {
  background: #fff;
  padding: 0;
  border-bottom: 1px solid $primaryColor;
  overflow: hidden;

  //border-bottom-left-radius: 0.25rem;
  //border-bottom-right-radius: 0.25rem;

  .list-group-item:last-child {
    border-radius: 0;
    margin-bottom: -1px;
  }

  .list-group-item {
    color: #000;
    padding: 5px 10px;
    border-left: 0;
    border-color: $primaryColor;

    &.active {
      border-radius: 0;
      font-weight: 500;
    }
  }

  [class*="col-"]:nth-child(3) {
    .list-group-item {
      border-right: 0;
    }
  }
}

.col-low-tier {
  background: #f5f5f5;
  .list-group-item {
    background: #f5f5f5;
  }
}

.col-mid-tier {
  background-color: $primaryColorLight;
  .list-group-item {
    background: $primaryColorLight;
  }
}

.col-high-tier {
    background: $primaryColorLight;
  .list-group-item {
    background: $primaryColorLight;
  }
}

ul.combo-with {
  list-style-type: none;

  li {
    position: relative;
  }

  li:after {
    position: absolute;
    content: "";
    left: -27px;
    width: 1px;
    background-color: #d29f8d;
    top: 0;
    height: 120%;
  }

  .group-line {
    position: absolute;
    left: -26px;
    top: 50%;
    transform: translateY(-50%);
    height: 1px;
    background-color: #d29f8d;

    content: "";
    width: 26px;
  }

  .combo-or {
    position: absolute;
    left: 2px;
    top: -14px;
    font-size: 0.6rem;
  }
}

.lapine-option {
  span.option-name {
    display: block;
    background: rgba(255,255,255,0.7);
    font-size: 90%;
    padding: 1px 6px;
    border-radius: 3px;
    margin: 3px 0;
  }
}

.eq {
  background: $primaryColorLight;
}

.recommended {
  position: relative;

  .recommended-box {
    position: absolute;
    background: $primaryColorLight;
    width: auto;
    font-size: 70%;
    padding: 2px 5px;
    top: 0;
    right: 0;
    border-bottom: 1px solid $primaryColor;
    border-left: 1px solid $primaryColor;
    line-height: 1;
  }
}

.w-build-img {
  height: 112px;
  border-bottom: 1px solid $secondaryColor;
}

.owl-carousel .owl-item img {
  height: auto;
  width: 90%;
  display: inline-block;
}

.sidebar-job-info {
  border: 1px solid #80cbc4;
  border-radius: 0.25rem;
  background: #fff;
}

.title-sidebar {
  background: $primaryColor;
  color: #fff;
  padding: 5px 0;
  font-size: 1em;
  margin-bottom: 0;
}

.body-job-info {
  padding: 10px 0 0;

  .owl-nav.disabled+.owl-dots {
    margin-top: 0;
  }
}

.footer-job-info {
  h4 {
    background: $primaryColor;
    color: #000;
    padding: 5px 0;
    margin-bottom: 0;
    font-size: 1em;
  }
  table {
    margin-bottom: 0;
    border-bottom: 0;
  }
}

.job-item {
  margin: 0 auto;
  width: 120px;
  position: relative;
  opacity: 0.3;
  text-align: center;

  h5 {
    font-size: 1em;
    margin-top: 5px;
    color: $primaryColor;
  }

  span {
    position: absolute;
    right: -25px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.center .job-item {
  opacity: 1;
}

.e-build {
  border: 1px solid #e1e1e1;
  border-radius: .25rem;
  padding: 10px 15px;
  margin-bottom: 30px;

  &:hover {
    border-color: $secondaryColorDark;
  }

  .build-author {
    color: #000;
  }

  .build-from-server {
    color: #000;
  }

  hr {
    margin: 10px 0;
  }
}

[aria-expanded="true"] {
  .e-build {
    background: $primaryColor;
    border-color: $primaryColor;
  }

  .e-build h3 {
    color: #fff;
  }
}

.skill-tree-button {
  display: block;
  background: #fff;
  padding: 10px 15px;
  border: 1px solid $primaryColor;
  color: $primaryColor;

  hr {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  &:hover {
    color: #fff;
    background: $primaryColor;
  }

  p {
    margin-bottom: 0;
  }
}

/// New EQ Block
.equip-example {
  margin-right: -15px;
  margin-left: -15px;

  .card {
    background: transparent;
    border: 0;
    border-top: 1px solid $secondaryColorDark;
    border-radius: 0;
    border-right: 1px solid $secondaryColorDark;
    border-bottom: 1px solid $secondaryColorDark;
  }

  .card-header {
    background: rgba(255,255,255,0.6);
  }

  .card-body {
    padding: 0;
  }

  hr {
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
  }

  .b-dropdown-text {
    padding: 0 5px;
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.equip-example-picked .col-equip-block-name.item-equipped span {
  color: $primaryColor;
  font-weight: 600;
}

.row-equip,
.row-equip-left {
  padding: 5px 5px 8px;
  border-bottom: 1px solid #d5d5d5;
  height: 40px;

  &:last-child {
    border: 0;
  }
}

.row-equip-left {
  .col-equip-block-icon {
    order: 1;
    margin-left: 5px;
    margin-right: 0;
  }
  .col-equip-block-name {
    text-align: right;
  }
}

.col-equip-block-icon {
  flex-basis: 30px;
  margin-right: 10px;
  cursor: pointer;

  span {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 26px;
    width: 30px;

    img {
      z-index: 1;
    }

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 16px;
      width: 28px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      background: #c4c4c4;
      filter: blur(1px);
      -webkit-filter: blur(1px);;
    }
  }
}

.col-equip-block-name {
  flex-basis: 196px;
  line-height: 1;
  font-size: 0.8rem;
  align-self: flex-end;
  margin-bottom: 1px;
  cursor: pointer;

  span {
    color:#686868;
  }

  &.item-equipped {
    span {
      color: #000;
    }
  }
}

.equip-show {
  border-bottom: 1px solid #e1e1e1;
  &:last-child {
    border-bottom: 0;
  }

  .tab-content {
    padding: 0 3px 0;
  }

  .tab-content,
  .nav-tabs .nav-link.active {
    background-color: rgba(255,255,255,0.5);
  }
}

.col-equip-position-left {
  border-right: 1px solid #e1e1e1;
  padding-right: 5px !important;
}

.col-equip-position-right {
  border-left: 1px solid #e1e1e1;
  padding-left: 5px !important;
}

.col-build-detail {
  padding-right: 30px;
}

@media (max-width: 1199.98px) {
  .col-equip-block-name {
    flex-basis: 152px;
  }
  .footer-job-info {
    font-size: 70%;
  }
}

@media (max-width: 991.98px) {
  .col-build-detail {
    padding: 15px 30px 0;
  }
}

@media (max-width: 767.98px) {
  .col-equip-block-name {
    flex-basis: 138px;
  }

  .equip-example .card {
    border-right: 0;
  }
}

@media (max-width: 575.98px) {
  .col-equip-block-icon {
    display: none;
  }
  .col-equip-block-name {
    max-width: 100%;
  }
  .col-build-detai {
    h5 {
      font-size: 1rem;
    }
  }
}
