@import "varibles";
@import "mixin";

h1 {
  color: $primaryColorDark;
}

.pet-img {
  width: 32px;
  height: auto;
}

.table-pets {
  background: #fff;

  th {
    padding-left: 12px;
    padding-right: 12px;
  }

  .pet-mvp {
    background: #ffffd4;
  }

  td.align-middle {
    padding: 0 12px;
  }

  .tr-hightlight {
    background: $secondaryColorSLight;
  }
}

#modal-item {
  z-index: 1051;
}

#modal-pet {
  .list-group-item {
    padding: 10px 0 10px 5px;
    border-color: #e1e1e1;
  }
}
.tr-pet-detail > td {
  border-left: 3px solid $secondaryColorLight;
  padding: 0.75rem 0.5rem;
  background: $secondaryColorSLight;
}

.pet-general-info {
  padding: 0.75rem 0.5rem;
  border: 1px solid #e1e1e1;
  background: #fff;

  img {
    border-color: $secondaryColorLight;
  }
}

.list-group-pet-bonus {
  border: 1px solid #e1e1e1;

  .list-group-item {
    border: 1px solid #e1e1e1;
  }
}

.pets-evolution {
  padding: 0.75rem 0.5rem;
  border: 1px solid #e1e1e1;
  background: #fff;

  img {
    border-color: $secondaryColorLight;
  }
}

.tab-content-bai-cai-ca {
  background: #fff;
  padding: 15px;
  border: 1px solid #e1e1e1;
  border-top: 0;
}

@media (max-width: 767.98px) {
  .table-intimate {
    th {
      width: 60px;
    }
    font-size: 13px;

    th:first-child,
    th:last-child {
      display: none;
    }
    tr td:first-child,
    tr td:last-child {
      display: none;
    }

    .item-name span {
      display: none;
    }
  }
}

@media (max-width: 575.98px) {
  .table-pets {
    th:first-child,
    th:nth-child(3) {
      display: none;
    }

    th {
      font-size: 0.8rem;
    }

    tbody > tr > td:first-child,
    tbody > tr > td:nth-child(3) {
      display: none;
    }

    tbody > tr.tr-pet-detail > td {
      display: table-cell;
    }

    tbody > tr > td {
      font-size: 0.8rem;
    }

    .item-name img {
      display: none;
    }
  }
  .pets-evolution {
    ul {
      padding-left: 0;
      list-style: none;
    }
  }
}