#adminmenu [class*="toplevel_page_acf-options-"] .wp-menu-name,
#adminmenu [class*="toplevel_page_acf-options-"] .wp-menu-image:before {
	color: yellow;
}

.acf-table .acf-row:nth-child(odd) td.acf-fields {
	background-color: rgba(0,0,0,.03) !important;
}