@charset "UTF-8";
a, a:focus, a:hover, a:active, button, button:hover {
  outline: 0 !important;
  text-decoration: none;
}
.black {
  color: #000;
}
.white {
  color: #fff;
}
.color-primary {
  color: #f4bc0d;
}
.color-secondary {
  color: #2ba6e1;
}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: #0077af;
}
h1 {
  color: #bc8c00;
}
.card-title {
  color: #0077af;
}
.display-5 {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.2;
}
.display-6 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2;
}
.display-7 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;
}
.btn-primary {
  background: #f4bc0d;
  border-color: #f4bc0d;
  color: #000;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background: #bc8c00;
  border-color: #bc8c00;
  color: #000;
}
.btn-primary.focus, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem #bc8c00 !important;
}
.btn-outline-primary {
  color: #f4bc0d;
  border-color: #f4bc0d;
}
.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active {
  color: #fff;
  background: #f4bc0d;
  border-color: #f4bc0d;
}
.btn-outline-primary.focus, .btn-outline-primary:focus {
  background: #f4bc0d;
  box-shadow: 0 0 0 0.2rem rgba(0, 150, 136, 0.5) !important;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle, .btn-primary:disabled {
  background: #f4bc0d;
  border-color: #f4bc0d;
}
.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show > .btn-outline-primary.dropdown-toggle, .btn-outline-primary:disabled {
  background: #f4bc0d;
  border-color: #f4bc0d;
}
.btn-secondary {
  background: #2ba6e1;
  border-color: #2ba6e1;
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  background: #0077af;
  border-color: #0077af;
}
.btn-secondary.focus, .btn-secondary:focus {
  box-shadow: 0 0 0 0.2rem #9cd9f7 !important;
}
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle {
  background: #0077af;
  border-color: #0077af;
}
/*--------------------- SPACES -----------------------*/
.no-padding {
  padding: 0 !important;
}
.no-margin {
  margin: 0;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.content-xs {
  padding-top: 20px;
  padding-bottom: 20px;
}
.content {
  padding-top: 40px;
  padding-bottom: 40px;
}
.content-sm {
  padding-top: 60px;
  padding-bottom: 60px;
}
.content-md {
  padding-top: 80px;
  padding-bottom: 80px;
}
.content-lg {
  padding-top: 100px;
  padding-bottom: 100px;
}
.margin-bottom-5, .margin-bottom-10, .margin-bottom-15, .margin-bottom-20, .margin-bottom-25, .margin-bottom-30, .margin-bottom-35, .margin-bottom-40, .margin-bottom-45, .margin-bottom-50, .margin-bottom-55, .margin-bottom-60, .margin-bottom-100 {
  clear: both;
}
.margin-bottom-5 {
  margin-bottom: 5px;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
.margin-bottom-15 {
  margin-bottom: 15px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.margin-bottom-25 {
  margin-bottom: 25px;
}
.margin-bottom-30 {
  margin-bottom: 30px;
}
.margin-bottom-35 {
  margin-bottom: 35px;
}
.margin-bottom-40 {
  margin-bottom: 40px;
}
.margin-bottom-45 {
  margin-bottom: 45px;
}
.margin-bottom-50 {
  margin-bottom: 50px;
}
.margin-bottom-55 {
  margin-bottom: 55px;
}
.margin-bottom-60 {
  margin-bottom: 60px;
}
.margin-bottom-100 {
  margin-bottom: 100px;
}
@media (max-width: 768px) {
  .sm-margin-bottom-10 {
    margin-bottom: 10px;
  }
  .sm-margin-bottom-20 {
    margin-bottom: 20px;
  }
  .sm-margin-bottom-30 {
    margin-bottom: 30px;
  }
  .sm-margin-bottom-40 {
    margin-bottom: 40px;
  }
  .sm-margin-bottom-50 {
    margin-bottom: 50px;
  }
  .sm-margin-bottom-60 {
    margin-bottom: 60px;
  }
}
@media (max-width: 992px) {
  .md-margin-bottom-10 {
    margin-bottom: 10px;
  }
  .md-margin-bottom-20 {
    margin-bottom: 20px;
  }
  .md-margin-bottom-30 {
    margin-bottom: 30px;
  }
  .md-margin-bottom-40 {
    margin-bottom: 40px;
  }
  .md-margin-bottom-50 {
    margin-bottom: 50px;
  }
  .md-margin-bottom-60 {
    margin-bottom: 60px;
  }
}
/*--------------------- END SPACES -----------------------*/
.navbar {
  border: 1px solid #e1e1e1;
  -webkit-box-shadow: 0 1px 3px 1px #a1a1a1;
  -moz-box-shadow: 0 1px 3px 1px #a1a1a1;
  box-shadow: 0 1px 3px 1px #a1a1a1;
}
.navbar-brand img {
  width: 128px;
}
.nav-pills-child .nav-link {
  color: #000;
}
.nav-pills-child .nav-link:hover {
  color: #2ba6e1;
}
.nav-pills-child .nav-link.active:hover {
  color: #fff;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background: #0077af;
}
.navbar.narbar-fluid {
  padding-left: 0;
  background: #fff;
}
.nav-pills.nav-pills-custom {
  position: initial;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -khtml-flex-direction: column;
  flex-direction: column;
}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: #0077af;
}
@media (max-width: 767px) {
  #menu-menu-1 {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    -khtml-display: flex;
    display: flex;
  }
}
/**
 * ** Responsive **
 */
* {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
body {
  font-family: 'Roboto', sans-serif;
}
:focus {
  outline: 0;
}
.border-p-dark {
  border: 1px solid #bc8c00 !important;
}
.border-s-dark {
  border: 1px solid #0077af !important;
}
.border-p {
  border: 1px solid #f4bc0d !important;
}
.border-s {
  border: 1px solid #2ba6e1 !important;
}
.bg-colored {
  background: #fafafa;
}
.bg-colored.dark {
  background: #38414d;
}
.small-line {
  width: 100px;
  border-top: 1px solid #ffee51;
}
.clipboard {
  cursor: pointer;
}
.alert-info {
  color: #000;
  background-color: #def6ff;
  border-color: #2ba6e1;
}
.alert-info code.clipboard {
  border: 1px solid #f4bc0d;
  border-radius: 4px;
  padding: 1px 5px;
  vertical-align: top;
}
.alert-info code.clipboard:hover {
  background: #fff;
}
.alert-info.alert-info-white code.clipboard {
  background: #ffee51;
  border-color: #f4bc0d;
  color: #fff;
}
.alert-info.alert-info-white code.clipboard:hover {
  background: #fff;
  color: #ffee51;
}
.alert-success {
  color: #000;
  background: #A7FFEB;
  border-color: #ffee51;
}
.alert-danger {
  color: #000;
  background: #E57373;
  border-color: #E57373;
}
.alert-warning {
  border-color: #bc8c00;
}
.alert-info-white {
  background: #fff;
}
.full-width {
  width: 100%;
}
.border-green {
  border: 1px solid #f4bc0d;
}
.hover-effect {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img.aligncenter {
  height: auto;
}
.alignright {
  float: right;
}
.alignleft {
  float: left;
}
img.size-full {
  max-width: 100%;
  height: auto;
}
.form-control:focus {
  border-color: #f4bc0d;
  box-shadow: 0 0 0 0.2rem rgba(0, 150, 136, 0.5);
}
.card-body-with-border-top {
  border-top: 1px solid #f4bc0d;
}
[v-cloak] {
  display: none;
}
.post-the_content p:last-child {
  margin-bottom: 0;
}
.tag-collapse i {
  display: inline-block;
  font-family: "Ionicons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-left: 5px;
}
.tag-collapse[aria-expanded="false"] i::before {
  content: "";
}
.tag-collapse[aria-expanded="true"] i::before {
  content: "";
}
.stacktable {
  width: 100%;
  table-layout: fixed;
}
.stacktable ul > li > p {
  display: flex;
  align-items: center;
  gap: 3px;
}
.st-head-row {
  padding-top: 1em;
}
.st-head-row.st-head-row-main {
  font-size: 1.5em;
  padding-top: 0;
}
.st-key {
  width: 29%;
  text-align: right;
  padding-right: 1%;
  font-weight: 500;
  overflow: hidden;
}
.st-val {
  width: 59%;
  padding-left: 1%;
  overflow: hidden;
}
.stacktable.large-only {
  display: table;
}
.stacktable.small-only {
  display: none;
}
.table td {
  overflow: hidden;
}
.card {
  border: 1px solid #2ba6e1;
}
.list-group-item {
  border: 1px solid #0077af;
}
.breadcrumb {
  border: 1px solid #2ba6e1;
  background: #fafafa;
  margin-bottom: 30px;
  padding: 0.75rem 1rem;
  border-radius: 0.25rem;
}
.col-nav {
  background: aliceblue;
  padding-left: 0;
  padding-right: 0;
  height: 100vh;
  overflow-y: auto;
}
.col-nav .nav-pills .nav-link {
  border-radius: 0;
}
.col-nav .nav-pills-child a {
  padding: 4px 15px;
  font-size: 13px;
}
.content-gap {
  margin-top: 58px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.div-scroll {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 25px 15px 0;
}
.author-tag img {
  width: 32px;
  height: 32px;
}
.related-links {
  margin-top: 75px;
  padding-bottom: 50px;
}
.related-links .each-related-link {
  margin-bottom: 50px;
}
.related-links .each-related-link:last-child {
  margin-bottom: 0;
}
@keyframes dotFloating {
  0% {
    left: calc(-50% - 5px);
  }
  75% {
    left: calc(50% + 105px);
  }
  100% {
    left: calc(50% + 105px);
  }
}
@keyframes dotFloatingBefore {
  0% {
    left: -50px;
  }
  50% {
    left: -12px;
  }
  75% {
    left: -50px;
  }
  100% {
    left: -50px;
  }
}
@keyframes dotFloatingAfter {
  0% {
    left: -100px;
  }
  50% {
    left: -24px;
  }
  75% {
    left: -100px;
  }
  100% {
    left: -100px;
  }
}
.stage {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  -khtml-display: flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  -khtml-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  -khtml-align-items: center;
  align-items: center;
  padding: 1rem 0;
  margin: 0 -5%;
  overflow: hidden;
}
.stage .dot-floating {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #f4bc0d;
  color: #f4bc0d;
  animation: dotFloating 3s infinite cubic-bezier(0.15, 0.6, 0.9, 0.1);
}
.stage .dot-floating:before, .stage .dot-floating:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}
.stage .dot-floating::before {
  left: -12px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #f4bc0d;
  color: #9880ff;
  animation: dotFloatingBefore 3s infinite ease-in-out;
}
.stage .dot-floating:after {
  left: -24px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #f4bc0d;
  color: #f4bc0d;
  animation: dotFloatingAfter 3s infinite cubic-bezier(0.4, 0, 1, 1);
}
.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
#search {
  position: relative;
}
#search .search-results {
  display: none;
  position: absolute;
  overflow: hidden;
  top: 42px;
  left: 0;
  z-index: 11;
  padding: 5px 0 0;
  width: 100%;
  background: #FFF;
  border-radius: 6px;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.4);
}
#search .search-results.show {
  display: block;
}
#search .w-section-result h2 {
  color: #888888;
  font-size: 0.8rem;
  margin-left: 15px;
  margin-top: 10px;
}
#search .single-result {
  padding: 5px 15px 5px 25px;
}
#search .single-result.select {
  background: #eee;
}
#search h3 {
  margin-bottom: 0;
  font-size: 1rem;
  display: inline-block;
}
#search i {
  margin-right: 5px;
}
#search .btn-hide-results {
  width: 100%;
  margin-top: 10px;
}
.img-huong-dan {
  width: 350px;
  height: auto;
}
.img-huong-dan-big {
  width: 600px;
  height: auto;
}
.img-lightbox {
  display: inline-block;
  margin-bottom: 20px;
}
.img-has-border {
  border: 1px solid #e1e1e1;
}
.card-class .img-card {
  height: 100px;
}
.card-class img {
  display: inline-block;
  margin-top: 10px;
  width: 100px;
  height: auto;
}
.section {
  margin-bottom: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid #e1e1e1;
}
.section h2 {
  color: #f4bc0d;
}
.section h3 {
  color: #2ba6e1;
}
.footer-page {
  border-top: 1px solid #2ba6e1;
  background: #fafafa;
  padding: 45px 0;
  font-size: 14px;
}
.quest-post {
  border: 1px solid #0077af;
}
.quest-post > a {
  display: inline-block;
  flex: 0 0 145px;
  height: 120px;
  overflow: hidden;
}
.quest-post .btn {
  color: #fff;
  padding: 3px 0.6em;
  font-size: 18px;
  line-height: 1;
}
.quest-post .media-body {
  height: 120px;
  overflow: hidden;
  border-left: 1px solid #0077af;
  width: 100%;
}
.quest-post .media-body > a {
  font-size: 1rem;
  line-height: 1.2;
  margin-bottom: 5px;
  white-space: nowrap;
}
.quest-post p {
  margin-bottom: 0;
  font-size: 0.85rem;
  height: 54px;
  line-height: 18px;
  overflow: hidden;
}
.quest-post img {
  width: 100%;
  height: auto;
  border: 0;
}
#app h1 {
  color: #f4bc0d;
}
#app .list-group-item {
  padding: 0.75rem 15px;
  overflow: hidden;
}
#app .list-group-item p:last-child {
  margin-bottom: 0;
}
#app .alert p:last-child {
  margin-bottom: 0;
}
.row-info-quest .post-the_content {
  background: #fff;
  border: 1px solid #2ba6e1;
}
.row-info-quest .each-item p {
  display: inline;
}
.row-info-loop h2 {
  color: #f4bc0d;
}
.icon-headgear {
  padding: 5px;
  margin-right: 15px;
  border: 1px solid #ffee51;
}
.block-item {
  border-top: 1px solid #ffee51;
}
.separate {
  margin: 30px 0;
}
.item-name {
  display: inline-block;
  line-height: 1;
}
.item-name img {
  border: 1px solid #2ba6e1;
  border-radius: 0.25rem;
  padding: 1px;
}
.item-name span {
  vertical-align: middle;
  color: #2ba6e1;
}
.item-name.no-click span {
  color: #000;
}
.item-name.no-click img {
  border: 0;
}
.item-name:hover {
  color: #0077af;
}
.item-name:hover span {
  color: #0077af;
}
.where-npc {
  color: #2ba6e1;
}
.where-npc:hover, .where-npc:focus, .where-npc:active {
  color: #0077af;
}
.col-quest-info {
  border: 1px solid #bc8c00;
  border-radius: 0.25rem;
  background: #fff3cd;
}
.col-quest-info h3 {
  padding: 15px;
  font-size: 18px;
  text-align: center;
  margin-bottom: 0;
}
.col-quest-info .w-table-require .table-bordered {
  border-bottom: 1px solid #bc8c00;
}
.col-quest-info .table-require-col-title {
  width: 88px;
}
.col-quest-info .table {
  margin-bottom: 0;
}
.col-quest-info .list-group li {
  border-radius: 0;
  border-left: 0;
  border-right: 0;
}
.col-quest-info .table-bordered {
  border: 0;
}
.col-quest-info .table-bordered td, .col-quest-info .table-bordered th {
  padding: 0.75rem 15px;
  border: 1px solid #bc8c00;
  border-bottom: 0;
  font-size: 0.9em;
  vertical-align: middle;
}
.col-quest-info .table-bordered td:first-child, .col-quest-info .table-bordered th:first-child {
  border-left: 0;
}
.col-quest-info .table-bordered td:last-child, .col-quest-info .table-bordered th:last-child {
  border-right: 0;
}
.col-quest-info .list-group-item {
  padding: 0.75rem 15px;
}
.col-quest-info td p {
  margin-bottom: 0;
}
.col-quest-info .btn-show-phan-thuong {
  border-radius: 0;
  width: 100%;
}
.col-quest-info .other-notes {
  border-top: 1px solid #ffee51;
}
.col-quest-info .other-notes .img-thumbnail {
  border-radius: 0;
}
.npc-list {
  height: 100%;
  width: 350px;
  z-index: 9999;
  background: #fafafa;
  border-left: 1px solid #bc8c00;
  border-top: 1px solid #bc8c00;
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(350px);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.npc-list.show {
  transform: translateX(0);
}
.npc-list h3.title-npc-list {
  font-size: 18px;
  margin-bottom: 0;
}
.npc-list .content-npc-list {
  padding-bottom: 30px;
}
.npc-list .form-control {
  border-radius: 0;
}
.npc-list .row-title-npc-list {
  border-top: 1px solid #ffee51;
}
.npc-list .row-title-npc-list .btn {
  border-radius: 0;
  line-height: 1;
}
.npc-list .row-title-npc-list input {
  border: 0;
  border-bottom: 1px solid #0077af;
}
.npc {
  background: #fff;
  text-align: center;
  border-bottom: 1px solid #0077af;
  padding: 15px 0;
  border-left: 2px solid #f8f9fa;
}
.npc code {
  border-radius: 5px;
  padding: 2px 5px;
  background: #fff;
  border: 1px solid #e1e1e1;
}
.npc code a {
  color: inherit;
}
.npc .card-text {
  margin-bottom: 5px;
}
.npc .card-title {
  margin-bottom: 5px;
}
.npc.mark {
  background: #ddf6ff;
  border-left: 2px solid #2ba6e1;
}
.npc.mark .highlight-location code {
  border: 1px solid #0077af;
}
.tabs-sidebar {
  text-align: center;
}
.tabs-sidebar .col {
  background: #ccc;
  padding: 5px 0;
  cursor: pointer;
}
.tabs-sidebar .col-active {
  background: #0077af;
  color: #fff;
}
.list-group-quest-item [class*="col-"] {
  padding-left: 15px;
  padding-right: 15px;
}
.list-group-quest-item .col-quantity {
  -webkit-flex-basis: 80px;
  -moz-flex-basis: 80px;
  -ms-flex-basis: 80px;
  -o-flex-basis: 80px;
  -khtml-flex-basis: 80px;
  flex-basis: 80px;
  width: 80px;
  text-align: right;
}
.list-group-quest-item .col-icon {
  padding: 0;
}
.list-group-quest-item .col-icon img {
  border: 1px solid #f4bc0d;
}
.ro-item-container {
  font-family: sans-serif;
  font-size: 12px;
  color: #000;
  width: 278px;
  min-height: 113px;
  background-image: url(../images/item-box.png);
  background-repeat: repeat-y;
  background-position: -556px 0px;
  position: relative;
}
.ro-item-container > .inner {
  position: relative;
  left: 0;
  width: 100%;
  min-height: 113px;
  background: url(../images/item-head-box.png) no-repeat;
}
.ro-item-container:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background: url(../images/item-box.png) no-repeat -278px 0px;
}
.ro-item-container > .inner .ro-item-left {
  float: left;
  width: 90px;
}
.ro-item-container > .inner .ro-item-left > img {
  margin-left: 9px;
  margin-top: 10px;
}
.ro-item-container > .inner .ro-item-right {
  float: left;
}
.ro-item-container > .inner .ro-item-right p {
  max-height: 320px;
  overflow: auto;
}
.ro-item-container > .inner .ro-item-right > em {
  font-size: 12px;
  font-family: sans-serif;
  padding-top: 9px;
  display: block;
  font-weight: normal;
  font-style: normal;
  text-shadow: 1px 1px 0 #fff;
  margin-left: 3px;
}
.ro-item-container p {
  font-size: 12px;
  font-family: sans-serif;
  display: block;
  width: 175px;
  margin: 10px 0 10px 3px;
}
.card-category > a {
  position: relative;
  overflow: hidden;
}
.card-category .particles {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.card-category h3 {
  background: rgba(55, 55, 55, 0.7);
  position: absolute;
  bottom: 10px;
  margin: 0;
  width: 100%;
  color: #6fd7ff;
  font-weight: 400;
  padding: 7px 15px;
  border-top: 1px solid #0077af;
  border-bottom: 1px solid #0077af;
  text-shadow: 2px 2px 2px #121212;
  font-size: 1.5em;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
}
.row-lapine {
  margin: 15px 0;
}
.row-lapine .lapine-info-list > li {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e1e1e1;
}
.row-lapine .lapine-info-list > li:last-child {
  border-bottom: 0;
}
.row-lapine .table th {
  border-top-color: #fff;
}
.row-lapine .table-sm td, .row-lapine .table-sm th {
  padding: 0.1rem 0.3rem;
}
[class*="col"] .row-lapine {
  margin: 15px 0;
  padding: 15px;
  background: #fafafa;
  border: 1px solid #e1e1e1;
}
.lapine-title h4 {
  margin-left: -15px;
  margin-right: -15px;
  margin-top: -15px;
  padding: 15px;
  background: #ffee51;
}
.w-lapine-target-items {
  max-height: 346px;
  overflow: hidden;
}
.w-lapine-target-items ul {
  padding-left: 20px;
}
.w-lapine-target-items li {
  white-space: nowrap;
  text-overflow: ellipsis;
}
.btn-expand-description {
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 99;
  border-radius: 0.25rem;
  font-size: 0.8rem;
  padding: 3px 0;
  font-weight: bold;
  text-align: center;
  border: 1px solid #f4bc0d;
  background: #fff;
  color: #000;
}
.btn-expand-description:hover {
  color: #fff;
  background: #bc8c00;
}
.t-fade {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ecf7f6 75%);
  height: 100%;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.t-fade.white {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 95%);
}
.hide-when-not-expand {
  display: none;
}
.read-more-expanded .read-more-expand, .read-more-expanded .t-fade, .read-more-expanded .will-hide-when-expand {
  display: none;
}
.read-more-expanded li.hide-when-not-expand {
  display: list-item;
}
.read-more-expanded .w-lapine-target-items {
  max-height: 100%;
  overflow: auto;
}
.read-more-expand {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15px;
  opacity: 0.7;
}
.read-more-expand:hover {
  opacity: 1;
}
.an-item {
  background-color: #fff;
  padding: 10px 15px;
  border-bottom: 2px solid #bc8c00;
}
.an-item .alert-info-white {
  background: transparent;
}
.an-item.highlight, .an-item:hover {
  background: #fff;
}
.an-item.highlight .alert-info-white, .an-item:hover .alert-info-white {
  background: #fff;
}
.an-item.highlight .t-fade, .an-item:hover .t-fade {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%);
}
.an-item .click-item {
  display: block;
  color: #0077af;
}
.an-item .click-item:hover {
  color: #2ba6e1;
}
.an-item a {
  display: block;
}
.an-item .alert-info-white a {
  display: inline-block;
}
.an-item img {
  border: 1px solid #0077af;
  border-radius: 0.25rem;
}
.an-item .item-image-75 {
  width: 77px;
  margin-right: 15px;
}
.an-item .click-item {
  padding: 1px;
  margin-right: 5px;
}
.an-item .item-description {
  height: 134px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.an-item .item-description.expanded {
  height: auto;
}
.an-item .item-description p {
  font-family: sans-serif;
  margin-bottom: 0;
  font-size: 13px;
}
.an-item .btn-get-monster-drops, .an-item .btn-how-to-get {
  width: 77px;
  font-size: 0.7em;
  margin-top: 5px;
}
.an-item .btn-how-to-get {
  border: #0077af;
  background: #2ba6e1;
}
.an-item .btn-how-to-get:focus {
  background: #2ba6e1;
  box-shadow: 0 0 0 0.2rem #0077af !important;
}
.an-item table, .an-item .alert {
  font-size: 14px;
}
.an-item .alert {
  padding: 5px 10px;
}
.show-mobs-drop {
  width: 72px;
}
.modal-item-padding {
  padding: 10px;
}
.modal-monster-info .table th {
  font-size: 12px;
  padding: 2px 10px;
}
.modal-monster-info .table td {
  font-size: 13px;
  padding: 2px 10px;
}
.modal-monster-info .alert {
  font-size: 13px;
}
.modal-monster-info .modal-header {
  padding: 5px 15px;
}
.modal-monster-info .modal-header .close {
  font-size: 30px;
}
.modal-monster-info .list-group li:first-child {
  border-top: 0;
}
.modal-monster-info .list-group li:last-child {
  border-bottom: 0;
}
.modal-monster-info .list-group li {
  border-right: 0;
  border-radius: 0;
  border-color: #e9ecef;
  border-left-color: #0077af;
}
.modal-monster-info .list-group-item .col {
  border-right: 1px solid #e9ecef;
}
.modal-monster-info .list-group-item .col:last-child {
  border-right: 0;
}
.modal-monster-info .label {
  font-size: small;
}
.modal-monster-info .table-monster-drops-band {
  padding: 5px 10px;
  font-size: 0.9em;
  background: #6fd7ff;
  text-align: center;
  color: #fff;
  font-weight: bold;
  border-top: 1px solid #0077af;
  border-bottom: 1px solid #0077af;
}
.row-stats {
  text-align: center;
}
.row-stats .col-stat {
  position: relative;
}
.row-stats .col-stat span:first-child, .row-stats .col-stat span:last-child {
  display: block;
  background: #f4bc0d;
}
.row-stats .col-stat span:last-child {
  font-size: small;
  background: #ffee51;
}
.mob-img {
  width: 100%;
  padding: 10px;
  text-align: center;
}
.mob-img img {
  max-width: 105px;
  height: auto;
}
.will-show-item-info {
  cursor: pointer;
}
.will-show-item-info:hover {
  color: #2ba6e1;
}
.will-show-mob-info .bg-danger {
  color: #fff !important;
}
#collapseMonsters {
  max-height: 300px;
  overflow: auto;
}
.w-quest-free-style .item-name img {
  border: 1px solid #f4bc0d;
  margin-right: 5px;
}
.w-quest-free-style .list-item-free-style li {
  margin-bottom: 5px;
}
/*-- Loading Bar --*/
/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}
#nprogress .bar {
  background: #29d;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}
/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}
#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;
  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}
.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}
.nprogress-custom-parent #nprogress .spinner, .nprogress-custom-parent #nprogress .bar {
  position: absolute;
}
@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*----*/
.page-item.active .page-link {
  background: #f4bc0d;
  border-color: #f4bc0d;
}
.page-link {
  color: #f4bc0d;
  border: 1px solid #f4bc0d;
}
.page-link:focus, .page-link:hover {
  color: #fff;
  background: #bc8c00;
  border-color: #bc8c00;
}
.scroll-top-wrapper {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  text-align: center;
  z-index: 1049;
  background-color: #f4bc0d;
  border: 1px solid #bc8c00;
  color: #bc8c00;
  width: 40px;
  height: 40px;
  line-height: 40px;
  right: 30px;
  bottom: 30px;
  border-radius: 0.25rem;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
  background-color: #f4bc0d;
  color: #000;
}
.scroll-top-wrapper.show {
  visibility: visible;
  cursor: pointer;
  opacity: 1;
}
.scroll-top-wrapper i {
  line-height: inherit;
}
.block-jobs {
  background: #fafafa;
}
.block-job {
  position: relative;
  display: block;
  border: 1px solid #2ba6e1;
  background: #fafafa;
}
.block-job:hover {
  background: #ddf6ff;
}
.block-job.has-caret:after {
  left: 100%;
  top: 50%;
  border: 10px solid transparent;
  border-left-color: #2ba6e1;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  margin-top: -10px;
}
.block-job img {
  padding: 10px 0;
}
.block-job .label {
  padding: 2px 0;
  background: #2ba6e1;
  color: #fff;
}
.block-job .job-name {
  color: #000;
  border-top: 1px dashed #6fd7ff;
  border-bottom: 1px dashed #6fd7ff;
}
.block-job .job-name:hover {
  opacity: 0.8;
}
.table-re-color {
  background: #fff;
}
.table-re-color.table-bordered, .table-re-color.table-bordered td, .table-re-color.table-bordered th {
  border: 1px solid #f4bc0d;
}
.table-re-color thead th {
  border-bottom: 2px solid #f4bc0d;
}
#content-skill-tree {
  min-height: 50vh;
}
.skill-section .btn-reset {
  height: 22px;
  padding: 0 10px;
}
.box-shadow {
  -webkit-box-shadow: 5px 5px 10px -7px #6fd7ff;
  -moz-box-shadow: 5px 5px 10px -7px #6fd7ff;
  box-shadow: 5px 5px 10px -7px #6fd7ff;
}
.wrap-skill-tree {
  padding-top: 15px;
  padding-bottom: 5px;
  border: 1px solid #0077af;
}
.col-slot-skill {
  width: 14.2857143%;
  -webkit-flex-basis: 14.2857143%;
  -moz-flex-basis: 14.2857143%;
  -ms-flex-basis: 14.2857143%;
  -o-flex-basis: 14.2857143%;
  -khtml-flex-basis: 14.2857143%;
  flex-basis: 14.2857143%;
  text-align: center;
  flex-grow: 0;
  margin-bottom: 5px;
}
.col-slot-skill:hover .slot a.control {
  display: inline-block;
}
.col-slot-skill .skill-name {
  height: 19px;
  font-size: 0.7em;
  white-space: nowrap;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0 2px;
  color: inherit;
}
.col-slot-skill .skill-name:hover {
  color: #f4bc0d;
  text-decoration: underline;
}
.col-slot-skill .skill-max {
  height: 21px;
  font-size: 0.8em;
  font-weight: 500;
  user-select: none;
}
.col-slot-skill .will-hover {
  border-radius: 4px;
  display: inline-block;
  width: 30px;
  height: 30px;
}
.col-slot-skill .will-hover.has-skill {
  border: 1px solid transparent;
}
.col-slot-skill .will-hover.has-skill .slot {
  border-color: transparent;
}
.col-slot-skill .will-hover.has-skill:hover, .col-slot-skill .will-hover.has-skill.required {
  background-color: #ffee51;
  border: 1px solid #f4bc0d;
}
.col-slot-skill .will-hover.has-skill:hover .slot, .col-slot-skill .will-hover.has-skill.required .slot {
  cursor: pointer;
}
.col-slot-skill .slot {
  position: relative;
  display: inline-block;
  width: 26px;
  height: 26px;
  border: 1px dotted #ccc;
  border-radius: 4px;
}
.col-slot-skill .slot .required-level {
  position: absolute;
  right: -22px;
  top: 5px;
  height: 16px;
  width: 18px;
  padding: 2px 0;
  color: #000;
  line-height: 1;
  font-size: 0.7em;
  background: #ffee51;
  border: 1px solid #f4bc0d;
  border-radius: 4px;
  text-align: center;
}
.col-slot-skill .slot a.control {
  position: absolute;
  line-height: 1;
  bottom: -22px;
  background: #ffee51;
  border: 1px solid #ffee51;
  height: 16px;
  width: 16px;
  display: none;
}
.col-slot-skill .slot a.control i {
  font-size: 15px;
}
.col-slot-skill .slot a.control:hover {
  background: #ffee51;
  border: 1px solid #ffee51;
}
.col-slot-skill .slot .control-up-lv {
  right: -25px;
}
.col-slot-skill .slot .control-down-lv {
  left: -25px;
}
.col-slot-skill.has-skill {
  border: 0;
}
.col-slot-skill .skill-icon {
  display: block;
  width: 24px;
  height: 24px;
}
.w-skill-info {
  background-color: #ecf7f6;
  padding: 10px 15px;
  border-bottom: 2px solid #bc8c00;
}
.w-skill-info.highlight, .w-skill-info:hover {
  background: #fff;
}
.w-skill-info .skill {
  -webkit-flex-basis: 220px;
  -moz-flex-basis: 220px;
  -ms-flex-basis: 220px;
  -o-flex-basis: 220px;
  -khtml-flex-basis: 220px;
  flex-basis: 220px;
}
.head-skill-info {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  -khtml-display: flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  -khtml-align-items: center;
  align-items: center;
}
.head-skill-info img, .head-skill-info span {
  vertical-align: middle;
}
.body-skill-info {
  padding-top: 10px;
  padding-bottom: 15px;
}
.body-skill-info .meta-quest-skill i {
  font-size: 1.5rem;
  line-height: 1;
}
.body-skill-info .meta-skill-info, .body-skill-info .description-skill-info {
  border-bottom: 1px dashed #4db6ac;
  padding-bottom: 15px;
}
.body-skill-info .meta-skill-info p:last-child, .body-skill-info .description-skill-info p:last-child {
  margin-bottom: 0;
}
.body-skill-info .alert {
  margin-bottom: 0;
}
.each-job-skill {
  background: #ffee51;
  margin-bottom: 1px;
  padding: 0.6rem;
}
.each-job-skill:last-child {
  margin-bottom: 0;
}
.each-job-skill .each-skill {
  margin-bottom: 5px;
}
.each-job-skill .each-skill i {
  font-size: 15px;
}
.each-job-skill .each-skill:last-child {
  margin-bottom: 0;
}
.each-job-skill .skill-require-level {
  -webkit-flex-basis: 42px;
  -moz-flex-basis: 42px;
  -ms-flex-basis: 42px;
  -o-flex-basis: 42px;
  -khtml-flex-basis: 42px;
  flex-basis: 42px;
}
.skill {
  display: inline-block;
  color: #bc8c00;
}
.skill img {
  margin-right: 1px;
  width: 24px;
  height: 24px;
}
.skill:hover, .skill:active, .skill:focus {
  color: #f4bc0d;
}
.content-huong-dan-nhiem-vu {
  padding-bottom: 200px;
}
.w-quest-free-style {
  border-radius: 0.25rem;
  background: #fff;
  padding: 15px;
  border: 1px solid #ffee51;
}
.each-quest {
  width: 100%;
  margin-bottom: 30px;
  border: 1px solid #2ba6e1;
  background: #fafafa;
  border-radius: 4px;
  overflow: hidden;
}
.each-quest h3 {
  font-size: 15px;
  height: 23px;
  overflow: hidden;
}
.each-quest .w-main-img {
  height: 110px;
  overflow: hidden;
  border-right: 1px solid #2ba6e1;
  background: #f4bc0d;
}
.each-quest img {
  height: auto;
  width: 100%;
}
.each-quest .w-body-q {
  padding: 10px;
}
.rewards img {
  width: 25px;
  height: 25px;
  border: 1px solid #f4bc0d;
  border-radius: 0.25rem;
  padding: 1px;
  margin: 0 2px;
  cursor: pointer;
}
.list-group-quest-item .item-name {
  margin-bottom: 0;
}
.table_with_two_columns td, .table_with_three_columns td {
  vertical-align: middle;
}
/** Discord **/
.join-discord {
  width: 50px;
  height: 50px;
  background: none !important;
  border: 0;
  padding: 0;
  position: fixed;
  right: 26px;
  bottom: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
}
.join-discord:hover ion-icon {
  color: #4e66b4;
  font-size: 50px;
}
.join-discord ion-icon {
  color: #6C84D2;
  font-size: 50px;
}
/** Responsive **/
@media (max-width: 1199.98px) {
  .each-quest .card-text {
    height: 96px;
    overflow: hidden;
  }
  .each-quest h3 {
    font-size: 18px;
  }
  .each-quest .text-calendar {
    font-size: 14px;
  }
}
@media (max-width: 991.98px) {
  .block-jobs div[class*="col-lg"]:first-child .has-caret:after {
    display: none;
  }
}
@media (max-width: 767.98px) {
  td .item-name, th .item-name {
    white-space: nowrap;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #b55837;
  }
  .will-show-mob-info td .item-name, .will-show-mob-info th .item-name {
    white-space: inherit;
    max-width: 100%;
  }
  #myScrollspy {
    display: none;
  }
  .header-page .navbar {
    padding-left: 15px;
  }
  .div-scroll {
    padding: 25px 0 0;
  }
  .content-gap {
    margin-top: 60px;
    position: initial;
  }
  .quest-title {
    font-size: 2.3rem;
  }
  .each-quest h3 {
    height: auto;
  }
  .separate {
    text-align: center;
  }
  .modal-monster-info .modal-header {
    padding: 15px 15px;
  }
  #nhiem-vu .col-auto {
    width: 100%;
  }
  .col-slot-skill .skill-name {
    font-size: 0.6em;
  }
  .block-job .label {
    font-size: 12px;
  }
  .block-job .job-name {
    font-size: 12px;
  }
  .scroll-top-wrapper {
    right: 15px;
    bottom: 15px;
  }
  .join-discord {
    right: 11px;
    bottom: 60px;
  }
}
@media (max-width: 575.98px) {
  #app h1 {
    font-size: 2em;
  }
  #app h3 {
    font-size: 1.4em;
  }
  #app .search-results h3 {
    font-size: 1.1em;
  }
  .each-quest .card {
    margin-bottom: 30px;
  }
  .quest-title {
    font-size: 2rem;
  }
  .list-group-quest-item .row {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    -khtml-flex-direction: column;
    flex-direction: column;
  }
  .list-group-quest-item .col-quantity {
    -webkit-flex-basis: auto;
    -moz-flex-basis: auto;
    -ms-flex-basis: auto;
    -o-flex-basis: auto;
    -khtml-flex-basis: auto;
    flex-basis: auto;
    width: auto;
    text-align: center;
    margin-bottom: 5px;
  }
  .list-group-quest-item .col-icon {
    margin-bottom: 5px;
  }
  .npc-list {
    width: 310px;
  }
  .npc-list h3.title-npc-list {
    font-size: 16px;
    line-height: 1.6;
  }
  .row-mob-info code {
    display: inline-block;
  }
  .row-job-options {
    margin-left: 0;
    margin-right: 0;
  }
  .row-job-options .block-job .label {
    font-size: 12px;
  }
  .row-job-options .block-job .job-name {
    font-size: 10px;
  }
  .row-job-options > [class*=col-] {
    padding-left: 0;
    padding-right: 0;
  }
  .block-job .has-caret:after {
    display: none;
  }
  .col-slot-skill {
    width: 25%;
    flex-basis: 25%;
  }
  .table_with_two_columns td ul, .table_with_three_columns td ul {
    padding-left: 20px;
  }
}
@media (max-width: 782px) {
  html #wpadminbar {
    position: fixed;
  }
}
@media (max-width: 575.98px) {
  .stacktable {
    background: #f5f5f5;
  }
  .stacktable.large-only {
    display: none;
  }
  .stacktable.small-only {
    display: table;
  }
}
