h1 {
  color: #bc8c00;
}
hr {
  border-color: #ffee51;
}
.section-home h2, .section-home h2 a {
  color: #bc8c00;
}
.section-home-1, .section-home-3, .section-home-5 {
  background: #ffee51;
}
.section-newbie > p {
  display: none;
}
.list-tutorials {
  margin-top: 30px;
}
.list-tutorials [class*=col] {
  margin-bottom: 30px;
}
.list-tutorials [class*=col]:last-child {
  margin-bottom: 0;
}
.list-tutorials .col-tutorial h3 {
  font-size: 18px;
  text-align: center;
  font-weight: 400;
}
.list-tutorials .col-tutorial a {
  color: #f4bc0d;
}
.list-tutorials .col-tutorial:hover a {
  color: #ffee51;
}
.list-tutorials .thumb {
  margin-bottom: 15px;
}
.home-slider {
  background-color: #fff;
  border: 1px solid #f4bc0d;
  margin-top: 16px;
  margin-bottom: 35px;
  border-radius: 0.25rem;
  overflow: hidden;
}
.home-slider p {
  margin: 0;
}
.carousel-features .owl-item img, .carousel-eq-item .owl-item img {
  border-radius: 6px;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.45);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.45);
}
.carousel-features .owl-stage-outer, .carousel-eq-item .owl-stage-outer {
  margin-bottom: 1rem;
}
.carousel-features .owl-nav, .carousel-eq-item .owl-nav {
  text-align: center;
}
.carousel-features .owl-nav button, .carousel-eq-item .owl-nav button {
  width: 30px;
  height: 30px;
  border: 1px solid #ffee51 !important;
  margin: 0 5px;
}
.carousel-features .owl-nav span, .carousel-eq-item .owl-nav span {
  font-size: 22px;
  line-height: 1;
}
#huong-dan-co-ban a.list-group-item-action, #he-thong-tinh-nang a.list-group-item-action {
  color: #bc8c00;
}
#huong-dan-co-ban a.list-group-item-action.text-muted, #he-thong-tinh-nang a.list-group-item-action.text-muted {
  color: #c1c1c1 !important;
}
#huong-dan-co-ban .card-body {
  padding-bottom: 10px;
}
#nhiem-vu .card-title {
  color: #f4bc0d;
}
#nhiem-vu .card-header {
  padding: 0;
}
#nhiem-vu .col-auto {
  border-right: 1px solid #dee2e6;
}
#nhiem-vu .nav-pills .nav-link {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.quest-post-muted {
  background: #eaeaea;
}
.dummy-img {
  width: 145px;
  height: 120px;
  background: #ccc;
}
@media (min-width: 768px) {
  .quests-should-do .quest-post {
    border-bottom: 0;
  }
}
@media (max-width: 767.98px) {
  .w-front-page > .content-md {
    padding-top: 50px;
  }
}
@media (max-width: 575.98px) {
  h1 {
    font-size: 20px;
  }
  h2.card-title {
    font-size: 1.5em;
  }
  .section-home-4 .item a, .section-home-5 .item a {
    width: 100%;
  }
  .quest-post .media-body a {
    font-size: 0.9rem;
  }
  #bai-viet-moi-nhat h2.card-title {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin-bottom: 20px;
  }
  #bai-viet-moi-nhat .card-body {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
  #bai-viet-moi-nhat .quest-post {
    border: 0;
    border-radius: 0 !important;
    border-bottom: 1px solid #0077af;
    margin-bottom: 0 !important;
  }
  #bai-viet-moi-nhat [class*="col-"]:first-child .quest-post {
    border-top: 1px solid #0077af;
  }
  #bai-viet-moi-nhat [class*="col-"]:last-child .quest-post {
    border-bottom: 0 !important;
  }
  #huong-dan-co-ban .list-group-item {
    padding-left: 0;
    padding-right: 0;
  }
  #nhiem-vu .tab-pane {
    padding: 0;
  }
  #nhiem-vu .card-body [class*="col-"]:last-child .quest-post {
    border-bottom: 0;
  }
  #nhiem-vu .card-header {
    border-bottom: 1px solid #0077af !important;
  }
  #nhiem-vu .quest-post {
    border-radius: 0 !important;
    border: 0;
    border-bottom: 1px solid #0077af;
    margin-bottom: 0 !important;
  }
}
