h1.skill-name img {
  margin-right: 10px;
}
h1.skill-name span {
  font-size: 1.8rem;
}
.skill-description p {
  margin-bottom: 0.5rem;
}
.skill-description p:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .bg-colored {
    min-height: 90vh;
  }
}
