h1 {
  color: #bc8c00;
}
.pet-img {
  width: 32px;
  height: auto;
}
.table-pets {
  background: #fff;
}
.table-pets th {
  padding-left: 12px;
  padding-right: 12px;
}
.table-pets .pet-mvp {
  background: #ffffd4;
}
.table-pets td.align-middle {
  padding: 0 12px;
}
.table-pets .tr-hightlight {
  background: #ddf6ff;
}
#modal-item {
  z-index: 1051;
}
#modal-pet .list-group-item {
  padding: 10px 0 10px 5px;
  border-color: #e1e1e1;
}
.tr-pet-detail > td {
  border-left: 3px solid #6fd7ff;
  padding: 0.75rem 0.5rem;
  background: #ddf6ff;
}
.pet-general-info {
  padding: 0.75rem 0.5rem;
  border: 1px solid #e1e1e1;
  background: #fff;
}
.pet-general-info img {
  border-color: #6fd7ff;
}
.list-group-pet-bonus {
  border: 1px solid #e1e1e1;
}
.list-group-pet-bonus .list-group-item {
  border: 1px solid #e1e1e1;
}
.pets-evolution {
  padding: 0.75rem 0.5rem;
  border: 1px solid #e1e1e1;
  background: #fff;
}
.pets-evolution img {
  border-color: #6fd7ff;
}
.tab-content-bai-cai-ca {
  background: #fff;
  padding: 15px;
  border: 1px solid #e1e1e1;
  border-top: 0;
}
@media (max-width: 767.98px) {
  .table-intimate {
    font-size: 13px;
  }
  .table-intimate th {
    width: 60px;
  }
  .table-intimate th:first-child, .table-intimate th:last-child {
    display: none;
  }
  .table-intimate tr td:first-child, .table-intimate tr td:last-child {
    display: none;
  }
  .table-intimate .item-name span {
    display: none;
  }
}
@media (max-width: 575.98px) {
  .table-pets th:first-child, .table-pets th:nth-child(3) {
    display: none;
  }
  .table-pets th {
    font-size: 0.8rem;
  }
  .table-pets tbody > tr > td:first-child, .table-pets tbody > tr > td:nth-child(3) {
    display: none;
  }
  .table-pets tbody > tr.tr-pet-detail > td {
    display: table-cell;
  }
  .table-pets tbody > tr > td {
    font-size: 0.8rem;
  }
  .table-pets .item-name img {
    display: none;
  }
  .pets-evolution ul {
    padding-left: 0;
    list-style: none;
  }
}
